body 
{
    /*border: 3px solid black;*/
    height: 100vh;
    padding: 10px;
}

header 
{
border: 2px solid black;
height: 80px;
padding: 5px;

}

header div
{
    border: 1px solid black;
    /*height: inherit;*/ 
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.company-logo
{
border: 1px solid red;
width: 250px;
border-radius: 5px;
}

.company-logo a
{
   border: 1px solid green;
   width: inherit;
   display: flex;
   justify-content: center;
}
 
#nav-links
{
    width: 400px;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#nav-links a
{
    border: 1px solid red;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main
{
    border: 2px solid black;
    height: inherit;
    margin-top: 10px;
    padding: 5px;
	background-color: rgb(83, 183, 246);
}

main section
{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#Banner section div
{
    border: 1px solid black;
    width: 20%;
    padding: 0;
    height: 69px;

}

#Banner section div h1
{
    border: 1px solid black;
    margin: 0;
    text-align: center;
}

#Banner section div p
{
    border: 1px solid black;
    margin: 0;
    text-align: center;
}

#Banner section div button
{
    border: 1px solid black;
    position: absolute;
    
}

article
{
	flex: 2;
	overflow-y: auto;
}

aside
{
	flex: 1;
	overflow-y: auto;
}

footer 
{
	background-color: gray);
}
